.bloc1 {
  height: 70em;
  width: 17em;
  background-color: #C3C4C3;
  margin-top: 0em;
  margin-left: 43em;
  position: static;
  border: solid;
  border-top: none;
  border-color: #10B7B2;

}

body {
  background-color: #CECECE;
  background-image: url("https://associationadao.files.wordpress.com/2014/10/fond-noir-3.jpg");

}

.name h1 {
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  color: #FFFFFF;
  font-size: 35px;
  margin-top: -13px;
}

#tssr {
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  color: #10B7B2;;
  font-size: 16px;
  font-weight: bold;

}

#profil {
  font-family: 'PT Sans', sans-serif;
  text-align: justify;
  color: #FFFFFF;
  font-size: 14px;
  padding-left: 35px;
  padding-right: 35px;
  word-spacing: 2px;

}

.contact {
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  color: #FFFFFF;
  border-top: dashed;
  border-width: 2px;
  margin-right: 30px;
  margin-left: 30px;
  border-color: #10B7B2;
}

.info {
  color: #10B7B2;

}

.language {
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  color: #FFFFFF;
  border-top: dashed;
  border-width: 2px;
  margin-right: 30px;
  margin-left: 30px;
  border-color: #10B7B2;

}

.bloc2 {
  margin-top: -980px;
  margin-left: -32em;
}

.experiences h2 {
  margin-left: -131px;
  font-family: 'PT Sans', sans-serif;
  border-top-style: dashed;
  border-bottom-style: dashed;
  border-color: #10B7B2;
  padding: 10px;
  width: 568px;
  text-align: center;
  color: #FFFFFF



}

.metiers {
  text-align: right;
  margin-right: 330px;
  font-family: 'PT Sans', sans-serif;
  line-height: 14px;
  color: #FFFFFF

}

.bloc3 {
  margin-top: -800px;
  margin-right: -33em;
}

.nomsformations {
  text-align: left;
  margin-left: 330px;
  font-family: 'PT Sans', sans-serif;
  color: #FFFFFF
}

.formations h2 {
  margin-left: 327px;
  font-family: 'PT Sans', sans-serif;
  border-top-style: dashed;
  border-bottom-style: dashed;
  padding: 10px;
  border-color: #10B7B2;
  width: -568px;
  text-align: center;
  color: #FFFFFF

}

#triangle {
width: 9.4%;
 height: 0;
 border-left: 66px solid transparent;
 border-right: 66px solid transparent;
 border-bottom: 36px solid #C3C4C3;
 margin-left: 688px;
 margin-top: 150px;
 position: relative;

}

/* Hexagon */

.hexagon {
  position: absolute;
  height: 200px;
  width: 200px;
  background: #10B7B2;
  margin-left: 619px;
  margin-top: -140px;

}
.hexagon:before, .double:after {
  position: absolute;
  content: '';
}
.hexagon:before {
  top: 4px;  /* border width */
  left: 4px;  /* border width */
  height: calc(100% - 8px);  /* 100% - (2 * border width) */
  width: calc(100% - 8px);  /* 100% - (2 * border width) */
  background: #6c6;
}
.hexagon, .hexagon:before, .double:after {
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.image:before {
  background: url("image/idmg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

}
.double:after {
  top: 8px;
  left: 8px;
  height: calc(100% - 16px);
  width: calc(100% - 16px);
  background: black;
}

/* Just for demo */

.hexagon {
  display: inline-block;
  margin-left: 726px;
  margin-top: -150px;
}

/* Date */

.time1 {
  margin-top: -15px;
  color: #10B7B2;
  font-weight: bold;
}

.time2 {
  margin-top: -17px;
  color: #10B7B2;
  font-weight: bold;
}

.nomscompetences {
  margin-left: 330px;
  color: white;
  font-family: 'PT Sans', sans-serif;

}

ul.tssr {
  list-style-type: none;
  margin-left: -38px;
}


.competences h2 {
  margin-top: 128px;
  font-family: 'PT Sans', sans-serif;
}

.hobbies {

}
.list {
  list-style-type: none;
  color: white;
  text-align: right;
  margin-right: 328px;
  font-size: 18px;
  font-family: 'PT Sans', sans-serif;

}

.color-title {
  color: #10B7B2;
}
